<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://rawgit.com/pchiwan/angular-filter-panel/master/release/angular-filter-panel.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print"/>

    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script type="text/javascript" src="http://rawgit.com/pchiwan/angular-filter-panel/master/release/angular-filter-panel.js"></script>
    <script type="text/javascript" src="javascripts/main.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Angular-filter-panel by pchiwan</title>
  </head>

  <body ng-app="app">
    <div class="container">
      <div class="row">
        <header>
          <h1>Angular-filter-panel <span class="fa fa-check-square-o"></h1>
          <h2>A filter panel for any data source, made with AngularJS</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/pchiwan/angular-filter-panel/zipball/master" id="download-zip" class="button">
            <span class="fa fa-file-archive-o"></span><span>Download .zip</span>
          </a>
          <a href="https://github.com/pchiwan/angular-filter-panel/tarball/master" id="download-tar-gz" class="button">
            <span class="fa fa-file-archive-o"></span><span>Download .tar.gz</span>
          </a>
          <a href="https://github.com/pchiwan/angular-filter-panel" id="view-on-github" class="button">
            <span class="fa fa-github"></span><span>View on GitHub</span>
          </a>
        </section>

        <hr>

        <section id="main_content" ng-controller="appCtrl">
          <h3>Introduction</h3>


          <h3>Requirements</h3>

          <p><a href="http://angularjs.org/" target="_blank">AngularJS</a>, obviously. Although really the magic of the filter panel is possible thanks to the amazing <a href="http://underscorejs.org/" target="_blank">Underscore.js</a>. So don't forget to include it in your project! Also, the template of the filter panel is styled using Bootstrap classes, but if you don't want to include Bootstrap in your project it's ok. Simply keep in mind that, once rendered, the filter panel will probably look weird and quite ugly if you did not include Bootstrap.</p>

          <h3>Instructions</h3>

          <p>First of all, let's assume you have a data source (an array of objects) in your Angular controller; it looks something like this:</p> 

  <div class="highlight highlight-javascript"><pre>angular.module(<span class="pl-s"><span class="pl-pds">'</span>app<span class="pl-pds">'</span></span>, [])
    .controller(<span class="pl-s"><span class="pl-pds">'</span>appCtrl<span class="pl-pds">'</span></span>, <span class="pl-k">function</span> (<span class="pl-smi">$scope</span>) {

        <span class="pl-k">var</span> items <span class="pl-k">=</span> [
            { Id<span class="pl-k">:</span>  <span class="pl-c1">1</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 01<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>AAAAA<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">false</span>, Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Football<span class="pl-pds">'</span></span>,   Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Japan<span class="pl-pds">'</span></span>          },
            { Id<span class="pl-k">:</span>  <span class="pl-c1">2</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 02<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>BBBBB<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">true</span>,  Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Basketball<span class="pl-pds">'</span></span>, Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>United Kingdom<span class="pl-pds">'</span></span> },
            { Id<span class="pl-k">:</span>  <span class="pl-c1">3</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 03<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>CCCCC<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">false</span>, Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Running<span class="pl-pds">'</span></span>,    Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>France<span class="pl-pds">'</span></span>         },
            { Id<span class="pl-k">:</span>  <span class="pl-c1">4</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 04<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>DDDDD<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">false</span>, Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Climbing<span class="pl-pds">'</span></span>,   Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>France<span class="pl-pds">'</span></span>         },
            { Id<span class="pl-k">:</span>  <span class="pl-c1">5</span>, Client<span class="pl-k">:</span> <span class="pl-c1">null</span>,        Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>FFFFF<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">false</span>, Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Football<span class="pl-pds">'</span></span>,   Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>France<span class="pl-pds">'</span></span>         },
            { Id<span class="pl-k">:</span>  <span class="pl-c1">6</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 06<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>CCCCC<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">true</span>,  Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Basketball<span class="pl-pds">'</span></span>, Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Russia<span class="pl-pds">'</span></span>         },
            { Id<span class="pl-k">:</span>  <span class="pl-c1">7</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 07<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>AAAAA<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">false</span>, Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Running<span class="pl-pds">'</span></span>,    Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Germany<span class="pl-pds">'</span></span>        },
            { Id<span class="pl-k">:</span>  <span class="pl-c1">8</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 08<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>CCCCC<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">true</span>,  Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Football<span class="pl-pds">'</span></span>,   Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Germany<span class="pl-pds">'</span></span>        },
            { Id<span class="pl-k">:</span>  <span class="pl-c1">9</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 09<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>BBBBB<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">true</span>,  Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Football<span class="pl-pds">'</span></span>,   Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span><span class="pl-pds">'</span></span>               },
            { Id<span class="pl-k">:</span> <span class="pl-c1">10</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 10<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>DDDDD<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">true</span>,  Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Football<span class="pl-pds">'</span></span>,   Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>United Kingdom<span class="pl-pds">'</span></span> },
            { Id<span class="pl-k">:</span> <span class="pl-c1">11</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 11<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>CCCCC<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">true</span>,  Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Tennis<span class="pl-pds">'</span></span>,     Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>United Kingdom<span class="pl-pds">'</span></span> },
            { Id<span class="pl-k">:</span> <span class="pl-c1">12</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 12<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>BBBBB<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">true</span>,  Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Running<span class="pl-pds">'</span></span>,    Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>United Kingdom<span class="pl-pds">'</span></span> },
            { Id<span class="pl-k">:</span> <span class="pl-c1">13</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 13<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>FFFFF<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">false</span>, Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Basketball<span class="pl-pds">'</span></span>, Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Russia<span class="pl-pds">'</span></span>         },
            { Id<span class="pl-k">:</span> <span class="pl-c1">14</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 14<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>DDDDD<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">false</span>, Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Tennis<span class="pl-pds">'</span></span>,     Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Germany<span class="pl-pds">'</span></span>        },
            { Id<span class="pl-k">:</span> <span class="pl-c1">15</span>, Client<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Client 15<span class="pl-pds">'</span></span>, Code<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>AAAAA<span class="pl-pds">'</span></span>, Enabled<span class="pl-k">:</span> <span class="pl-c1">false</span>, Sport<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Basketball<span class="pl-pds">'</span></span>, Country<span class="pl-k">:</span> <span class="pl-s"><span class="pl-pds">'</span>Japan<span class="pl-pds">'</span></span>          }
        ];

        $scope.dataSource <span class="pl-k">=</span> items;
    });</pre></div>

          <p>Obviously this array of objects would very probably be asynchronously populated by an AJAX request!</p>

          <p>It's very easy to include a filter panel in your HTML page. The filter panel is restricted to element, and you need to provide it with two attributes only.</p>

          <h4>source</h4>
          <p>This is your data source. Don't worry, the filter panel won't tamper your data, it simply wants to play with it.</p>

          <h4>filter-props</h4>
          <p>These are the names of the properties in your data source objects that you want the data to be filtered by. Of course you could specify them all, but it makes sense to filter your data only by those properties which hold non-unique values.</p>

  <div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">filter</span><span class="pl-e">-panel</span> <span class="pl-e">source</span>=<span class="pl-s"><span class="pl-pds">"</span>dataSource<span class="pl-pds">"</span></span> <span class="pl-e">filter-props</span>=<span class="pl-s"><span class="pl-pds">"</span>Code,Sport,Country,Enabled<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">filter</span><span class="pl-e">-panel</span>&gt;  </pre></div>

          <p>Whenever your data source changes, the filter panel will process it, grouping the data by the specified properties and generating the filter groups. The available filter values will be displayed on the filter panel.</p>

          <div>
            <div class="panel panel-default">
              <div class="panel-body">
                <filter-panel source="dataSource" filter-props="Code,Sport,Country,Enabled"></filter-panel>                  
              </div>
            </div>
          </div>

          <p>Once you select some filter values and click <code>APPLY</code>, the filter panel performs its magic.</p>
          
          <div class="panel panel-default">
            <div class="panel-body">
              <table class="table">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Client</th>
                      <th class="center">Code</th>
                      <th>Sport</th>
                      <th class="center">Enabled</th>
                      <th class="center">Country</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in filteredDataSource">
                      <td>{{item.Id}}</td>
                      <td>{{item.Client}}</td>
                      <td class="center">{{item.Code}}</td>
                      <td>{{item.Sport}}</td>
                      <td class="center"><input type="checkbox" ng-model="item.Enabled" /></td>
                      <td class="center">{{item.Country}}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>

          <p>We're almost there. You'll have to add some code in your Angular controller as well.</p>

          <h3>Try it</h3>

          <p>If you want to see or fiddle around with the code for a very similar example, <a href="http://plnkr.co/edit/MUImLa8czoZeFn4Gc9dH?p=preview" target="_blank">here's</a> a plunk for you.</p>

         
          <h3>Style it</h3>

          <p>Assuming you know your way around CSS, it's very easy to customize the look of the filter panel. Feel free to edit the styles file <code>angular-filter-panel.css</code>.</p>

        </section>        

        <footer>
          <hr>
          Angular-filter-panel is maintained by <a href="https://github.com/pchiwan">pchiwan</a><br>
          This page was generated by <a href="https://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.
        </footer>
        
      </div>
    </div>
  </body>
</html>