.filter-panel .filter-panel-buttons {
  padding: 10px;
  float: right;
}
.filter-panel .filter-panel-buttons button {
  text-transform: uppercase;
  margin-left: 10px;
}
.filter-panel .filter {
  padding: 10px 30px;
}
.filter-panel .filter .filter-header {
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
}
.filter-panel .filter .filter-content .filter-item {
  display: block;
}
